# This file defines the code owners for this repository
# Code owners are automatically requested for review when someone opens a pull request
# that modifies code that they own.

# Default owners for everything in the repo
* @yowainwright

# Specific owners for certain paths
/src/ @yowainwright
/docs/ @yowainwright
/tests/ @yowainwright 